name: Build
on:
  workflow_dispatch:
    inputs:
      tmmVersion:
        description: 'Version of tmm.jar'
        required: true
        default: '5.2.4'
  push:
    branches:
      - test

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build image
        uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            TMM_VERSION=${{ github.event.inputs.tmmVersion || '5.2.4' }}
          tags: |
            dzhuang/tinymediamanager:${{ github.event.inputs.tmmVersion || 'test' }}
          push: true
